/*  include font family */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); /* Open sans from google font  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}
/*  CSS COLOR CODES */
:root {
  --activeGreen: #2dbf64;
  --fontPrimary: #002333;
  --questionBG: #e4e8ee;
  --successGreen: #00ff84;
  --newGreen: #1dd881;
  --bodyBackground: #f2f4f8;
  --smartYellow: #ffc916;
  --smartBlue: #0070f3;
  --purpule: #728fce;
}
/*  body tag */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}
/*  selections */
::selection {
  background-color: #1e7de9;
  color: #ffffff;
}
